:root {
  --header-background: #282826;
  --header-border: #e32636;
  --link-color: #0a2e6c;
  --content-background: #41403e;
  --box-background: #4e4d4b;
  --sidebar-background: #41403e;
  --title-color: #e32636;
  --intro-border-color: #e32636;
  --settings-block-border: #e32636;
  --settings-block-background: #41403e;
  --settings-block-background-active: #4e4d4b;
  --slider-background: #d3d3d3;
  --slider-thumb: #0a2e6c;
  --code-snippet: #db4d59;
  --text-color: #dedddd;
  --lesser-text-color: #9e9e9d;
  --background-color: #282826;
}

* {
  padding: 0px;
  margin: 0px;
  font-family: "Roboto", sans-serif;
  color: var(--text-color);
}

body {
  /* background-image: url("../media/funky-lines.png");
  background-repeat: repeat; */
  background-color: var(--background-color);
}

header {
  background-color: var(--header-background);
  width: 100%;
  height: 100px;
  border-bottom: 4px solid var(--header-border);
  z-index: 10;
}

a {
  text-decoration: none;
  color: var(--link-color);
}

a:hover {
  color: var(--link-color);
  text-decoration: underline;
}

a:visited {
  color: var(--link-color);
}

#main-wrapper {
  position: absolute;
  display: flex;
  justify-content: space-between;
}

#title {
  font-size: 36px;
  float: left;
  color: var(--title-color);
  line-height: 100px;
  text-align: center;
  padding: 0px 20px;
}

#name {
  line-height: 100px;
  text-align: center;
  float: right;
  padding: 0px 20px;
}

#name-span {
  color: #757575;
  text-decoration: none;
}

#intro {
  box-sizing: content-box;
  margin: 30px 5px 100px 5px;
  border: 5px solid var(--intro-border-color);
  width: calc(100% - 20px);
  left: 4px;
}

#content {
  position: relative;
  width: 70%;
  height: auto;
  background-color: var(--content-background);
  margin: 30px 15px;
  padding: 15px;
}

#contents-box {
  margin: 30px 5px 100px 5px;
  display: none;
}

#sidebar {
  position: -webkit-sticky;
  position: sticky;
  width: 25%;
  top: 5%;
  height: auto;
  margin: 30px 15px;
  padding: 5px;
  background-color: var(--sidebar-background);
  align-self: flex-start;
}

#img-profile {
  width: auto;
  height: 300px;
}

#sketch-container {
  width: 100%;
  height: 100%;
}

#title-color {
  color: var(--title-color);
  text-decoration: none;
}

.nav-list {
  list-style: none;
}

.nav-list a {
  color: var(--text-color);
  font-weight: bold;
}

.inner-list {
  padding-left: 20px;
  font-size: 20px;
}

.inner-list ul {
  list-style: none;
}

.inner-list a {
  font-weight: normal;
  color: var(--lesser-text-color);
}

.box {
  margin: 30px 5px;
  min-height: 200px;
  width: calc(100% - 10px);
  position: relative;
  background-color: var(--box-background);
  overflow: hidden;
}

.title-color {
  color: var(--title-color);
}

.subtitle {
  font-weight: 700;
  font-size: 2em;
  color: var(--title-color);
}

.text-box {
  position: relative;
  width: auto;
  height: auto;
  margin: 10px;
  font-size: 1.5em;
}

.image-container {
  margin: 10px;
  position: relative;
  float: right;
  overflow: hidden;
  border-radius: 10%;
}

.content-title {
  display: block;
  min-width: 0px;
  min-height: 0px;
  background: none;
  border-top: 2px double var(--box-background);
  border-bottom: 2px double var(--box-background);
}

.sketch-content-wrapper {
  position: absolute;
  width: 100%;
  height: calc(100% - 104px);
  top: 104px;
  overflow: hidden;
}

.preview {
  display: inline-block;
  height: 90%;
  width: 60%;
  margin: 2.5% 5%;
  float: left;
  overflow: hidden;
  border: 4px solid var(--header-background);
}

.settings {
  display: inline-block;
  height: auto;
  min-height: 100px;
  width: calc(30% - 8px);
  min-width: 200px;
}

.settings-block {
  display: inline-block;
  min-height: 50px;
  min-width: 100px;
  border: 3px solid var(--settings-block-border);
  background-color: var(--settings-block-background);
  margin: 5px;
  transition: all 0.3s ease;
}

.settings-block:first-child {
  float: left;
}

.settings-block:hover {
  background-color: var(--settings-block-background-active);
}

.settings-block-text-normal {
  color: var(--text-color);
  font-size: 16px;
  text-align: center;
  line-height: 25px;
}

.padding-wrapper {
  position: relative;
  padding: 10px;
}

.slider-container {
  position: relative;
  width: 300px;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 25px;
  background: var(--slider-background);
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: var(--slider-thumb);
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: var(--slider-thumb);
  cursor: pointer;
}

.slider-text {
  position: relative;
  text-align: center;
  font-size: 16px;
}

.settings-button {
  background-color: var(--settings-block-background);
  border: 3px solid var(--settings-block-border);
  color: var(--text-color);
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  outline: none;
}

.settings-button:hover {
  background-color: var(--settings-block-background-active);
}

.settings-button + .hoverable {
  background-color: var(--intro-border-color);
}

.image-sketch-preview {
  width: auto;
  height: 300px;
  opacity: 0.7;
  transform: scale(1.1);
  transition: all 0.3s ease;
}

.image-sketch-preview:hover {
  opacity: 1;
  transform: scale(1.2);
}

.code-snippet {
  color: var(--code-snippet);
}

::-webkit-scrollbar {
  width: 15px;
  height: 15px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #9e9e9d;
}
::-webkit-scrollbar-track {
  background: #41403e;
}

@media only screen and (max-width: 890px) {
  header {
    text-align: center;
  }

  #name {
    display: none;
  }

  #title {
    display: inline-block;
    float: none;
    padding: 0px;
  }

  #content {
    width: 90%;
    margin: 15px 5%;
  }

  .sketch-content-wrapper {
    overflow: auto;
  }

  .preview {
    width: 100%;
    height: calc(100% - 104px);
    margin: 0;
    border: none;
    border-bottom: 4px solid var(--header-background);
  }

  .settings {
    width: 100%;
  }

  #sidebar {
    display: none;
  }

  #intro {
    margin: 30px 0px;
  }

  #contents-box {
    display: block;
  }
}

@media only screen and (max-width: 740px) {
  #content {
    width: 100%;
    left: 0px;
  }
}

@media only screen and (max-width: 580px) {
  .title-mobile {
    font-size: 24px !important;
  }
}
