* {
  padding: 0px;
  margin: 0px;
  font-family: "Source Sans Pro", sans-serif;
}

body {
  background-image: url("media/funky-lines.png");
  background-repeat: repeat;
}

header {
  position: absolute;
  background-color: #489988;
  width: 100%;
  height: 100px;
  border-bottom: 4px solid #2c3a47;
  z-index: 10;
}

nav {
  position: fixed;
  float: right;
  top: 150px;
  left: 72.5%;
  width: 25%;
  min-height: 100px;
  background-color: #bdc58180;
}

a {
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: #6d214f;
}

#title {
  font-size: 3em;
  float: left;
  color: #0a3d62;
  line-height: 100px;
  text-align: center;
  padding: 0px 20px;
}

#name {
  line-height: 100px;
  text-align: center;
  float: right;
  color: #757575;
  padding: 0px 20px;
}

#intro {
  box-sizing: content-box;
  margin: 30px 5px 100px 5px;
  border: 5px solid #1b9cfc;
  width: calc(100% - 20px);
}

#img-1 {
  width: auto;
  height: 210px;
}

.content {
  position: relative;
  top: 150px;
  width: calc(100% - 35%);
  float: left;
  left: 5%;
  min-height: 100px;
  background-color: #58b19f80;
}

.box {
  margin: 30px 5px;
  min-height: 200px;
  width: calc(100% - 10px);
  position: relative;
  background-color: #58b19f;
}

.subtitle {
  font-weight: 700;
  font-size: 2em;
  color: #0a3d62;
}

.text-box {
  position: relative;
  width: auto;
  height: auto;
  margin: 10px;
  font-size: 1.25em;
}

.image-container {
  position: relative;
  float: right;
}

.content-title {
  display: block;
  min-width: 0px;
  min-height: 0px;
  background: none;
}

.preview {
  position: fixed;
  background-color: #000000cc;
  width: 100vw;
  height: 100vh;
  top: 0px;
  left: 0px;
  z-index: 11;
}

.no-display {
  display: none;
}
